.color{
    background-color: blue;
}
body{
   
    background: linear-gradient(110deg, black 10%,rgb(2, 65, 124));
    
}

.chead{
    background-color: blue;
}
h1{
    font-family: cursive;
}

.colore{
    background: linear-gradient(110deg, black 10%,rgb(2, 65, 124));
}

